
<div class="">
    <h6 class="text-center text-white">Connect with us on social media</h6>
    <ul class="list-unstyled d-flex justify-content-center align-items-center gap-3">
        @foreach (var social in _socialLinks)
        {
            <li>
                <a href="@social.Link" target="_blank" class="social-link @social.BgClass d-block p-1 rounded">
                    <img src="images/social-icons/@social.Icon" alt="Blazing Website Social Profile" />
                </a>
            </li>
        }
    </ul>
</div>

<style type="text/css">
    .social-link {
        box-shadow: inset 0 0 10px black;
    }

        .social-link > img {
            filter: invert(1);
            height: 30px;
        }
</style>

@using Social = (string Icon, string Link, string BgClass);
@code {

    // image/icon url and links to these social media profiles
    private Social[] _socialLinks = [
        ("github-logo-36.png", "https://www.github.com/abhayprince", "bg-dark"),
        ("linkedin-logo-36.png", "https://www.linkedin.com/in/abhayprince", "bg-primary"),
        ("twitter-logo-36.png", "https://www.x.com/abhayprince3", "bg-info"),
        ("youtube-logo-36.png", "https://www.youtube.com/@abhayprince", "bg-danger")
    ];
}
