@page "/"
@using BlazingCountdown.Client.Shared
@using BlazingCountdown.Components.Shared

<PageTitle>Home</PageTitle>

<div class="row pt-5">
    <div class="col-sm-6 mx-auto d-flex flex-column gap-3">
        <img src="logo.jpg" style="height: 150px;" class="mx-auto" alt="My Blazing Website Logo" />
        <h1 class="text-white text-center h4">My Blazing Website is launching soon</h1>

        <CountdownTimer />

        <NotifyForm />

        <SocialLinks />
    </div>
</div>


